<h2>Add New Game</h2>

<form class="form-inline">
  <div class="form-group">
    <label class="control-label">
      Rank <small>(After match)</small>
      {{input value=rank type="number" class="form-control"}}
    </label>
  </div>

  <div class="form-group">
    <label class="control-label">
      Outcome
      {{#bs-button-group value=outcome type="radio" onChange=(action (mut outcome)) as |bg|}}
        {{#bg.button type="default" value='W'}}Win{{/bg.button}}
        {{#bg.button type="default" value='D'}}Draw{{/bg.button}}
        {{#bg.button type="default" value='L'}}Loss{{/bg.button}}
      {{/bs-button-group}}
    </label>
  </div>

  <div class="spacer"></div>

  <div class="form-group">
    <button {{action 'saveNewGame'}} type="submit" class="btn btn-default btn-primary">Save</button>
  </div>
</form>
