<h2 class="page-header">Dashboard</h2>
<div class="row placeholders">
<div class="col-xs-6 col-sm-3 placeholder">
    <img src="http://placehold.it/200x200" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
    <h4>Label</h4>
    <span class="text-muted">Something else</span>
</div>
<div class="col-xs-6 col-sm-3 placeholder">
    <img src="http://placehold.it/200x200" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
    <h4>Label</h4>
    <span class="text-muted">Something else</span>
</div>
<div class="col-xs-6 col-sm-3 placeholder">
    <img src="http://placehold.it/200x200" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
    <h4>Label</h4>
    <span class="text-muted">Something else</span>
</div>
<div class="col-xs-6 col-sm-3 placeholder">
    <img src="http://placehold.it/200x200" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
    <h4>Label</h4>
    <span class="text-muted">Something else</span>
</div>
</div>